doctype html
head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title Craft - Webpack - Tachyons Boilerplate
	link(rel='stylesheet', href='/assets/css/tachyons.min.css')
	link(rel='stylesheet', href='/assets/css/styles.css')
body
	article(class='athelas')
		div(class='vh-100 dt w-100 tc bg-dark-gray white')
			div(class='dtc v-mid')
				header(class='white-80 pa4')
					h2(class='f1 f-headline-l fw1 i') Craft - Webpack - Tachyons Boilerplate
					h3(class='f4 fw3 ttl') Build System